# === Node.js ===
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
.env
.env.*


# === Python ===
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.log
pip-log.txt
pip-delete-this-directory.txt

# Virtualenv
venv/
ENV/
env/
.venv/
.ENV/
.envrc

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pyright
typings/

# pytest
.cache/
.pytest_cache/

# coverage
.coverage
htmlcov/
.tox/

# VSCode / IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
